body {
   background-image: url("hongbao.png");
   background-repeat: no-repeat;
   background-size: 600px 812px;
   background-position: -110px 0px;
}

.xx{
  position: fixed;
  top: 30%;
  left: 20%;
  font-size: 30px;
}

.xx p{
  text-align: justify;
  font-weight: bold;
  color: black
}

.btn{
  position: fixed;
  top: 70%;
  left: 21%;
}

.btn button{
  font-size: 30px;
  border-radius: 30px;
  border-color: red;
}

.result{
  position: fixed;
  top: 3%;
  left: 10%;
  font-size: 20px;
  color: white;
  text-shadow: black;
}
